/*==Default Style==*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica,Arial, sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
/*==Container==*/
#container {
    width: 80%;
    margin: 0 auto;
}

/*==Header==*/
#header {
    background: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
#header #logo img {
    width: 65%;
    height: auto;
}
#header #slogan {
    color:#8AD385;
    display: inline-block;
    float: right;
    width: 500px;
    height: auto;
}

/*==Menu==*/
#menu {
    background-color: #141412;
    margin-top: 5px;
}
#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    display: inline-block;
    text-align: center;
    width: 100px;
    line-height: 50px;
    height: 50px;
}
#menu li a {
    text-decoration: none;
    display: block;
    color: #fff;
}
#menu li a:hover {
    background-color: #f1f1f1;
    color: #000;
}

/*==Content==*/
#content {
    background-color: #f1f1f1;
    width: 100%;
    margin-top: 5px;
}
#content .row {
    padding: 5px;
}
#content ul {
    text-align: center;
    text-decoration: none;
}
#content ul li {
    display: inline-block;
    width: 20%;
    margin: 15px;
}
#content img {
    width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 5px;
}
#content p {
    color: #333;
    width: 100%;
    border-bottom: 5px solid #FBC62F;
    font-size: 20px;
    font-weight: bold;
}

/*==Footer==*/
#footer {
    background: #141412;
    color: #fff;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}
#footer p {
    text-align: center;
}

/*==Content-Item==*/
#content-item {
    background-color: #f1f1f1;
    width: 100%;
    margin: 5px auto;
    overflow: auto;
}
#content-item ul {
    list-style-type: none;
    overflow: auto;
}
#content-item #row1 {
    float: left;
    width: 33.33%;
}
#content-item #row1 ul {
    text-align: center;
}
#content-item #row2 ul {
    margin-right: 20px;
    text-align: justify;
}
#content-item #row1 img {
    border: 2px solid #444;
    border-radius: 10px;
    margin-bottom: 5px;
}
strong {
    font-size: 20px;
    color: red;
}
