/*==Default Style==*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: Helvetica,Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/*==Container==*/
#container {
    width: 80%;
    margin: 0 auto;
}

/*==Header==*/
#header {
    background: #fff;
    padding: 0;
    text-align: center;
}
#header #logo img {
    width: 65%;
    height: auto;
}
#header #slogan {
    color: aqua;
}

/*==Menu==*/
#menu {
    background-color: #141412;
    margin-top: 5px;
}
#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    display: inline-block;
    text-align: center;
    width: 100px;
    line-height: 50px;
    height: 50px;
}
#menu li a {
    text-decoration: none;
    display: block;
    color: #fff;
}
#menu li a:hover {
    background-color: #f1f1f1;
    color: #000;
}

/*==Content==*/
#content {
    background-color: #f1f1f1;
    overflow: hidden;
    width: 100%;
    margin-top: 5px;
}
#content ul {
    text-decoration: none;
}
#content ul li {
    display: inline-block;
    margin-right: 5px;
}
#content img {
    width: 210px;
    height: 210px;
    border: 2px solid #333;
    border-radius: 5px;
    margin: 5px 2px;
}
#content p {
    color: #333;
    width: 95%;
    border-bottom: 5px solid #FBC62F;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    margin: 5px 10px;
}

